.story-listing {
    padding-top: 2rem;
    margin-bottom:1rem;
    .story-listing-header {
        
    }
    
    .story-listing-title {
        // padding-bottom: 1rem;
        padding-left:1rem;
        border-left: 5px solid #888;
    }

    .card {
        box-shadow: inherit;
    }

    .card-content {
        padding: 1rem;
        h2 {
            line-height: 20px;
        }
        a div:hover {
            color:#3273dc;;
        }
    }
}