@import url('https://fonts.googleapis.com/css?family=Roboto:900');

.article-featured-image {
    margin-bottom:2rem;
}

.article-title h1 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

@media(max-width:767px){
    .article-title h1 {
        font-size: 1.4rem;
        line-height: 1.5rem;
    }    
}

@media(min-width:1024px){
    .article-detail-meta {
        display: block;
        padding:0px 0px 10px 0px;
        ul {
            height: 20px;
            text-align: left;
        }
        li {
            display: inline;
            font-size: 1rem;
        }
    }
}
.article-detail-meta {
    display: block;
    margin : 10px 5px;
    padding:0px 0px 10px 0px;
    ul {
        height: 20px;
        text-align: left;
    }
    li {
        display: inline;
        // font-size: 0.7rem;
    }
    .share-count-wrapper p{
        text-align: center;
        // margin:auto;
    }
}

.share-button-area__desktop {
    margin:0px !important;
}

.section__header {

}

.section__content {
    
}