.article-list {
  padding: 15px;
}
.article-list-item {
  padding:0px 10px;
  margin-bottom: 2rem;
}

.article-list-item-image {
  display: block;
  overflow: hidden;
  padding-top: 50%;
  margin-bottom: 8px;
  position: relative;
}

.article-list-item-image {
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  width: 100%;
}

@media(max-width:767px){
  .article-list-item-image {
    left: 0;
    padding-top: 72px;
    // position: absolute;
    top: 0;
    width: 72px;
  }
  .article-meta {
    padding:0px 0px !important;
    .article-item-title {
      font-size: 0.8rem !important;
      line-height: 1rem !important;      
    }
    a {
      margin-bottom: 0px;
    }
  }
  .article-list-item {
    margin-bottom: 5px;
    margin-bottom: 5px;
    // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding-top: 0.4rem;
    border-radius: 0.1rem;
  }
}

.title {
  padding:20px 0px;
  font-size: 1.2rem;
  // color:#3273dc;
}

.article-meta {
  padding:10px 5px;
  .article-item-title {
    line-height: 20px;
  }
}