header {
    // padding-top:10px;
    // padding-bottom:10px;
    
}

.navbar {
    // padding: 10px;
}

@media(max-width:767px){
    .navbar {
        padding: 3px;
    }
}

.navbar > .container-navbar {
    margin: 0 auto;
    position: relative;
}

.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover {
    background-color: #fff;
    color: #0a0a0a;
}

.navbar-item {
    text-transform: uppercase;
    font-weight: bold;
    color: #555;
}
