.page-layout__viewport {
  // padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

body {
  min-height: 100vh;
}

.lazy {
  -moz-transition: ease .4s;
  -o-transition: ease .4s;
  -webkit-transition: ease .4s;
  transition: ease .4s;
  opacity: 0;
  will-change: opacity
}
.lazy.lazyLoaded {
  opacity: 1
}