@import url('https://fonts.googleapis.com/css?family=Roboto:900');



article {
  display: block;
}


.cover {
  position: relative;
  margin: 0 auto;
  padding: 4px;
  h2 > a {
    color: #fff;
  }
}

.cover {
  margin: 0 auto;
  padding: 4px;
  position: relative
}
.cover:after {
  content: "";
  display: table;
  clear: both
}
.cover h1 {
  font-size: 40px;
  left: 16px;
  letter-spacing: -.02em;
  top: 12px;
  pointer-events: none;
  position: absolute;
  z-index: 5
}

.cover-story {
  float: left;
  padding: 4px;
  position: relative;
  width: 100%;
}

.cover-image {
  background-color: #000;
  background-size: cover;
  background-position: center center;
  top:4px;
  z-index: 1;
}

.cover-header {
  padding: 14px 12px;
  z-index: 3; 
}

.cover-image, .cover-header, .cover-trigger {
  position: absolute;
  bottom: 4px;
  left: 4px;
  right: 4px;
}

.cover-trigger {
      transition: background-color .4s ease;
      background: url('./assets/image-gradient.png') no-repeat rgba(0, 0, 0, .25);
      display: block;
      top:4px;
      background-size: 100% 100%;
      will-change: background-color;
      z-index: 2;
}

.cover-trigger:hover {
  background-color: rgba(0,0,0,.1);
}

h2 {
  // font-size: 20px;
  font-family: 'Avalon', sans-serif;
}

@media(max-width:767px){
  .cover article {
    min-height:30vh;
    position: relative;
  }
}

@media(min-width:768px){
  h2 {
    font-size: 20px;
  }
}

@media(min-width:1024px) {
  .cover {
    height: 75vw;
    max-height: 400px;
  }

  .cover--grid3 article:nth-child(1) {
    height: 100%;
    width: 66.66666%;
  }

  .cover--grid3 article {
    float: left;
    height: 50%;
    width: 33.33333%;
  }

  .cover--grid3 article:nth-child(1) h2{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    line-height: 1;
  }

  .cover--grid3 article:nth-child(1) h2 a{
    color:#fff;
  }

  .cover-header{
    padding: 20px;
  }

}

// .featured-level-1 {
//   height: 350px;
// }

// .cover-story {

//   // padding:4px;
//   position: relative;

//   .cover-image, .cover-header {
//     bottom:4px;
//     left:4px;
//     position: relative;
//     right:4px;
//   }

//   .cover-image {
//     background-size: 100% ;
//     background-position: center center;
//     background-color: #000;
//     top:4px;
//     z-index: 1;
//     width:100%;
//     height: 350px;
//   }

//   .cover-trigger {
//     transition: background-color .4s ease;
//     background: url('./assets/image-gradient.png') no-repeat rgba(0, 0, 0, .25);
//     display: block;
//     position: absolute;
//     top:4px;
//     right:4px;
//     left:4px;
//     background-size: 100% 100%;
//     will-change: background-color;
//     z-index: 2;
//     width: 100%;
//     height: 100%;
//   }

//   .cover-trigger:hover {
//     background: url('./assets/image-gradient.png')  rgba(0, 0, 0, .1);
//   }

//   .cover-header {
//     position: absolute;
//     padding:20px 30px;
//     z-index: 3;
//     h2 {
//       display: block;
//       font-family: 'Roboto', sans-serif;
//       font-weight: 900;
//       font-size: 35px;
//       line-height: 40px;
//       a {
//         color:#fff;
//       }
//     }
//   }


// }